.layout {
    display: flex;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    margin-left: 320px;
    /* нова ширина сайдбара */
    padding: 32px 40px;
    background: #f4f7fc;
}

@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
    }
}